Library
Temp
obj
*.bat
*.csproj
*.csproj.user
*.booproj
*.pidb
*.sln
*.sln.meta
*.suo
*.unityproj
*.userprefs
*.userprefs.meta
*~
*.sw[po]
.DS_Store
*.v12
/obj/
test-results/
test-results.meta
TestResult.xml
.metadata
config_local.yml
Gemfile.lock
*[! -~]*
*.pidb.meta
*[\/:*?"<>|]*
.envrc
.ruby-version
.paco
Assets/DebugFileResponse.asset*
Assets/UnityTestTools/
Assets/UnityTestTools.meta
Assets/Tests/
Assets/Tests.meta
Assets/~AtlasCache/
Assets/~AtlasCache.meta